.first-part-contact {
  display: flex;
  background-color: white;
  height: auto;
  flex-direction: column;
}
.contact-image {
  margin-top: 20px;
  display: flex;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.icon-info-contact-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}
.information-contact {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}
.icon-contact {
  margin-right: 20px;
}
.info-map-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.contact-image-mobile {
  display: none;
}
.map {
  display: flex;
}
.map-mobile {
  display: none;
}
.small-blue-image-holder {
  display: none;
}
@media only screen and (max-width: 1500px) and (min-width: 835px) {
  .contact-image {
    height: 200px;
  }
}
@media only screen and (max-width: 835px) {
  .contact-image {
    display: none;
  }
  .contact-image-mobile {
    display: flex;
    margin-top: 20px;
  }
  .info-map-holder {
    flex-direction: column;
  }
  .map {
    display: none;
  }
  .map-mobile {
    display: flex;
  }
  .small-blue-image-holder {
    display: flex;
    position: relative;
    background-image: url(../img/blue-small-2.png);
    height: 300px;
    margin-top: 20px;
  }
  .contact-header {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0082c6;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
}
