.tabs-holder {
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.din-table {
  width: 700px;
}
.din-detail {
  height: 400px;
}
.din-image {
  width: auto;
  height: fit-content;
}
.din-dimension {
  height: 440px;
}
.seria1-dimension {
  height: 440px;
}
.seria3-dimension {
  height: 310px;
}
@media only screen and (max-width: 1500px) and (min-width: 835px) {
  .din-table {
    width: 600px;
  }
  .din-detail {
    height: 320px;
  }
  .din-dimension {
    height: 430px;
  }
  .seria1-dimension {
    height: 380px;
  }
  .seria3-dimension {
    height: 260px;
  }
}
@media only screen and (max-width: 835px) {
  .tabs-holder {
    flex-direction: column;
    height: auto;
  }
  .din-table {
    width: 350px;
  }
  .din-detail {
    height: auto;
    width: 350px;
  }
  .din-dimension {
    height: auto;
    width: 350px;
  }
  .seria1-dimension {
    height: auto;
    width: 350px;
  }
  .seria3-dimension {
    height: auto;
    width: 350px;
  }
}
