.first-part-downloads {
  display: flex;
  background-color: white;
  height: 725px;
  flex-direction: column;
}
.download-title {
  font-family: poppins-medium;
  font-size: 36px;
  color: #1a1a1a;
  font-weight: normal;
  padding: 80px 0px 40px 130px;
  margin: 0px;
}
.catalogue-title-button-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-button-catalogue {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  align-items: center;
}
.title-catalogue {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #777777;
  margin-top: 0px;
}
.downloads-content-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.catalogue-logo {
  border: 1px solid black;
  height: 286px;
}
.certificate-logo {
  height: 284px;
}
.downl-icon {
  height: 30px;
}
@media only screen and (max-width: 1500px) and (min-width: 835px) {
  .download-title {
    font-size: 28px;
    padding: 64px 0px 40px 104px;
  }
  .catalogue-logo {
    height: 230px;
  }
  .certificate-logo {
    height: 230px;
  }
  .title-catalogue {
    font-size: 12px;
  }
  .downl-icon {
    height: 24px;
  }
  .title-button-catalogue {
    padding-left: 30px;
  }
  .first-part-downloads {
    height: 580px;
  }
}
@media only screen and (max-width: 835px) {
  .downloads-content-holder {
    flex-direction: column;
  }
  .download-title {
    font-size: 36px;
    padding: 50px 0px 50px 0px;
  }
  .first-part-downloads {
    height: 725px;
    /* justify-content: center; */
    align-items: center;
  }
  .catalogue-logo {
    height: 150px;
  }
  .certificate-logo {
    height: 150px;
  }
  .title-button-catalogue {
    padding-left: 15px;
    align-items: baseline;
  }
  .downloads-content-holder {
    flex-direction: column;
    padding-left: 30px;
  }
  .catalogue-title-button-holder {
    padding-bottom: 40px;
  }
  .first-part-downloads {
    height: auto;
  }
}
