@font-face {
  font-family: "exo-regular";
  src: url("../assets/static/Exo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-medium";
  src: url("../assets/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url("../assets/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
}
.main-container {
  max-width: 1920px;
  margin: 0 auto;
}
.first-part {
  display: flex;
  background-image: url("../img/Composit-2.jpg");
  height: 700px;
  background-position: right;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
.logo-main {
  height: 100px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navigation li {
  padding: 0px 20px 0px 10px;
}
nav a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: bold;
}
.box-style {
  padding: 7px 10px 7px 10px;
  color: white;
  background-color: #0082c6;
}
.main-title {
  font-family: exo-regular;
  font-size: 60px;
  color: #0082c6;
  font-weight: normal;
  position: relative;
  left: -35px;
  padding-top: 100px;
}
.render-img {
  display: flex;
  height: 500px;
  padding-top: 40px;
}
.title-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.second-part {
  height: 251px;
  background-image: url(../img/MaskGroup1.png);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
.worker {
  height: 197px;
}
.second-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  height: 2px;
  width: 60px;
  background-color: white;
}
.precision {
  font-size: 36px;
  color: white;
  font-family: poppins-medium;
}
.premium {
  font-size: 28px;
  color: white;
  font-family: poppins-regular;
}
.third-part {
  display: flex;
  flex-direction: row;
  height: 464px;
}
.box-size {
  flex: 1 1 0;
  height: 464px;
}
.box-1 {
  background-color: #0082c6;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-2 {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.box-3 {
  background-color: #ededed;
}
.we-are-different {
  font-size: 36px;
  color: white;
  font-family: poppins-medium;
}
.first-holder {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 70px;
}
.second-box-title-text-holder {
  display: flex;
  flex-direction: column;
}
.box-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #1a1a1a;
  margin: 0px;
}
.box-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #777777;
}
.icon-ajust {
  margin: 0px 30px 0px 50px;
}
.footer {
  background-color: #232323;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.footer-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #a5a5a5;
  padding-bottom: 50px;
}
.info {
  display: flex;
  flex-direction: row;
}
.info-style {
  font-family: Arial, Helvetica, sans-serif;
  color: #a5a5a5;
  font-size: 14px;
  margin-right: 10px;
  border-right: 1px solid #a5a5a5;
  padding-right: 10px;
  text-decoration: none;
}
.info-style-last {
  font-family: Arial, Helvetica, sans-serif;
  color: #a5a5a5;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.footer-right-part {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.product-footer {
  display: flex;
  flex-direction: column;
}
.pr {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  margin-bottom: 10px;
}
.pr-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #a5a5a5;
  margin: 4px;
}
.pr-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #a5a5a5;
  margin-top: 30px;
}
.footer-icon {
  height: 93px;
}
.nav-bar {
  display: none;
}
.overlay {
  display: none;
}
.copyright-last {
  display: flex;
}
.copyright-mobile {
  display: none;
}
@media only screen and (max-width: 1500px) and (min-width: 835px) {
  nav a {
    font-size: 14px;
  }
  .logo-main {
    height: 80px;
  }
  .main-title {
    font-size: 48px;
    padding-top: 80px;
  }
  .render-img {
    height: 400px;
    padding-top: 32px;
  }
  .first-part {
    height: 560px;
  }
  .second-part {
    height: 200px;
  }
  .worker {
    height: 157px;
  }
  .precision {
    font-size: 28px;
  }
  .premium {
    font-size: 22px;
  }
  .line {
    width: 48px;
  }
  .third-part {
    height: 370px;
  }
  .box-size {
    height: 370px;
  }
  .we-are-different {
    font-size: 28px;
  }
  .icon-ajust {
    width: 28px;
  }
  .box-title {
    font-size: 14px;
  }
  .box-text {
    font-size: 12px;
  }
  .first-holder {
    margin-top: 56px;
  }
  .footer-icon {
    height: 75px;
  }
  .footer-title {
    font-size: 12px;
    padding-bottom: 40px;
  }
  .info-style {
    font-size: 12px;
    margin-right: 8px;
    padding-right: 8px;
  }
  .info-style-last {
    font-size: 12px;
    margin-right: 8px;
    padding-right: 8px;
  }
  .pr {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .pr-1 {
    font-size: 12px;
    margin: 3px;
  }
  .pr-2 {
    font-size: 12px;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 835px) {
  .menu {
    display: none;
  }
  .logo-main {
    height: 60px;
  }
  .nav-bar {
    display: flex;
    position: absolute;
    top: 1%;
    left: 90%;
    color: black;
  }
  .overlay {
    display: flex;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0082c6;
    overflow-y: hidden;
    transition: 0.5s;
    opacity: 0.9;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    font-family: poppins-regular;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .title-image {
    flex-direction: column;
    align-items: center;
  }
  .main-title {
    font-size: 36px;
    position: relative;
    left: 0px;
    padding-top: 60px;
    font-weight: bold;
  }
  .render-img {
    height: auto;
    padding-top: 40px;
    width: 300px;
  }
  .first-part {
    display: flex;
    background-image: url(../img/mobile_backgr_2.png);
    height: 587px;
    background-position: right;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
  }
  .second-part {
    background-image: url(../img/blue_smal_image.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-repeat: no-repeat;
  }
  .precision {
    font-size: 28px;
  }
  .line {
    width: 40px;
  }
  .premium {
    font-size: 18px;
  }
  .third-part {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .worker {
    padding-top: 40px;
  }
  .box-1 {
    padding: 20px;
    height: 105px;
  }
  .we-are-different {
    font-size: 28px;
  }
  .first-holder {
    margin-top: 40px;
  }
  .last-in-box {
    padding-bottom: 20px;
  }
  .icon-ajust {
    margin: 0px 30px 0px 40px;
  }
  .box-text {
    padding-right: 30px;
  }
  .footer-icon {
    height: auto;
    width: 100px;
  }
  .footer-title {
    display: none;
  }
  .footer {
    flex-direction: column;
    padding: 0px 40px 20px 40px;
  }
  .info {
    flex-direction: column;
    padding-top: 20px;
  }
  .info-style {
    font-size: 14px;
    border-right: none;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
  }
  .footer-left-part {
    padding-left: 0px;
  }
  .footer-right-part {
    flex-direction: row;
    padding-left: 0px;
    justify-content: space-between;
  }
  .copyright-last {
    display: none;
  }
  .pr {
    font-size: 14px;
  }
  .product-footer {
    padding-right: 0px;
  }
  .copyright-mobile {
    display: flex;
    background-color: #232323;
    justify-content: center;
  }
  .pr-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #a5a5a5;
  }
  .box-size {
    flex: none;
    height: auto;
  }
}
